{% extends 'base.html.twig' %}

{% block content %}
    <section class="uk-section uk-section-default">
        <div class="uk-container uk-container-small">
            <h1>Registrierung</h1>

            {% for message in app.flashes('success') %}
                <div class="uk-alert-success" data-uk-alert>
                    <a class="uk-alert-close" data-uk-close></a>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}

            {{ form_start(form, {
                method: 'post',
                action: path('members_user_registration_register', app.request.query.has('registrationKey') ? {'registrationKey': app.request.query.get('registrationKey')} : {}),
                attr: {
                    novalidate: 'novalidate'
                }
            }) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}

            <p class="uk-margin-top">
                Bereits registriert?
                <a href="{{ path('members_user_security_login') }}">Zum Login</a>
            </p>
        </div>
    </section>
{% endblock %}

